* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

#search-box:focus {
   background-color: rgb(238, 224, 226);
}

.country-list {
  list-style: none;
  padding-left: 0;
}

.box {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  align-items: center;
}

.country-prop {
  display: inline;
}

.preloader {
  display: none;
}

.show {
  display: flex;
  justify-content: center;
  margin-left: 70px;
}
